.header__container{
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: antiquewhite;
    position: relative;
}

.header__container p {
    position: absolute;
    right: 20px;
    cursor: pointer;
}