body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4 {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

@import url(./components/Content/Content.css);
@import url(./components/Header/Header.css);
@import url(./components/CollectionPages/CollectionPages.css);
@import url(./components/Profile/Profile.css);
@import url(./components/Input/Input.css);
@import url(./components/ButtonIcon/ButtonIcon.css);
@import url(./components/CardPage/CardPage.css);
@import url(./components/LoginPage/LoginPage.css);
@import url(./components/PopupModal/PopupModal.css);
@import url(./components/Аuthorization/Аuthorization.css);
@import url(./components/Registration/Registration.css);